<div class="row bg-secondary justify-content-center p-4">
    <div class="col-10 bg-light">
        <div class="row h-100">
            <div class="col-6 border border-dark border-5">
                <img src="assets/{{secuencia}}.jpeg" class="card-img" alt="">
            </div>
            <div class="col-6">
                <h3>{{palabra}}</h3>
                <button class="btn bg-black text-white" type="button" (click)="reintentar()">Jugar de Nuevo</button> 
                <h5>Numero de Intentos</h5>
                <h5 class="bg-success rounded-circle text-center">{{intentos}}</h5>
            </div>
        </div>
    </div>
    <div class="col-12 align-self-center">
        <div class="row">
            <div class="col-1 btn btn-ligth" *ngFor="let l of abecedario">
                {{l}}
            </div>
        </div>
        
    </div>
</div>
