<div class="card">
    <form action="">
        <label for="dniPasajero">DNI Pasajero</label>
        <input type="number" id="dniPasajero">

        <select name="" id="catPasajero">
            <option value="m">Menor</option>
            <option value="j">Jubilado</option>
            <option value="a">Adulto</option>
        </select>
        <label for="precioPasaje">Precio Pasaje</label>
        <input type="number" id="precioPasaje">

        <label for="fechaCompra"></label>
        <input type="date" id="fechaCompra" [{}]>


    </form>
</div>
